/* login.component.css */
.container-login {
  display: flex;
  height: 100vh;
  background-color: white;
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Ajusta según el tamaño de tu logo */
  height: 50px;
  margin-left: 10px;
}

.animanga {
  font-size: 66px;
  font-weight: bold;
  color: #621BA8; /* Color lila */
  margin: 0;
}

.welcome-container {
  text-align: center;
  margin-bottom: 30px;
}

.welcome-title {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.lila {
  color: #621BA8;
}
.example-form{
  display:flex;
  flex-direction: column;

}

.welcome-subtitle {
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
}

.field-width {
  width: 500px;
}

.sub {
  margin-top: 10px;
  text-align: center;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-container img {
  width: 100%;
  height:100%;
}
